# Cloudflare Credentials
CLOUDFLARE_ACCOUNT_ID=your_account_id
CLOUDFLARE_API_TOKEN=your_api_token
CLOUDFLARE_DATABASE_ID=your_database_id

# Slack Notification Webhook
SLACK_WEBHOOK_URL=https://hooks.slack.com/XXXXXXXXXXXXXXXXXXXXXXX
